.loginContainer, .registerContainer {
    width: 250px;
    position: relative;
    margin: 70px auto;
    border-radius: 15px;
    
}

input {
    border: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #f2f2f2;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    font-size: 14px;
  }
  
.btn-login,
.btn-register {
    color:white;
    background: #1A5276 ;
    box-sizing: border-box;
    padding: 10px 10px ;
    border-radius: 5px;
    
}